* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  margin-top: 0.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  color: white;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.header__team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin: 0 0.5em;
  padding: 0 0.5em;
  letter-spacing: 0.1rem;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.header__team:hover {
  scale: 1.3;
  letter-spacing: 0.2rem;
}

.header__team-title {
  color: white;
  font-size: 1rem;
}

.game {
  padding-top: 60px;
  color: white;
}

.game__hud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game__hud > p {
  margin: 0.5em 1em;
}

.game__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game__panel-btn {
  height: 40px;
  width: 80px;
  background-color: black;
  color: white;
  border: none;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.game__panel-btn:hover {
  scale: 1.3;
  letter-spacing: 0.2rem;
}

.game__panel-btn:disabled {
  color: gray;
  cursor: not-allowed;
}

.game__panel-input {
  height: 40px;
  width: 240px;
  margin-left: 1em;
  background-color: black;
  color: white;
  border: 2px white solid;
  text-indent: 0.5rem;
}

.game__panel-input::-webkit-input-placeholder {
  color: gray;
}

.game__panel-input:-ms-input-placeholder {
  color: gray;
}

.game__panel-input::-ms-input-placeholder {
  color: gray;
}

.game__panel-input::placeholder {
  color: gray;
}

.game__panel-input:disabled {
  background-color: gray;
}

.game__team-list {
  height: 650px;
  width: 500px;
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.game__team-list-item {
  width: 50%;
  margin: 0.1em;
  padding-left: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid white;
}

.game__team-list-item .showTeamName {
  color: white;
}

.game__team-list-item .hideTeamName {
  color: red;
}
/*# sourceMappingURL=main.css.map */